.cdk-dialog-container {
    background-color: bisque;
}
#brn-dialog-0 {
    background-color: bisque;
}
.cdk-overlay-pane {
    background-color: bisque;
}

.disabled{
    background-color: gray;
}

.valido{
    border-width: 2px;
    border-color: green;
}

.validoTexto{
    color: green;
}

.noValido{
    border-width: 1px;
    border-color: red;
}